:root { 
    --color-text-main: #711511; 
    --color-text-head-foot: #EC3C52; 
    --color-background-head-foot: #fbd07e; 
    --color-back-card: #fdd8c3; 
    --main-font: "Merriweather", "sans-serif"; 
    --color-enter-form:#FDE3B2;
}
html{
    font-size: 20px;
}
.login-signin{
    margin-left: auto;
    margin-right: 1.5rem;
    margin-bottom: 1.25rem;
    
}