* {
    margin: 0;
    padding: 0
}
:root { 
    --color-text-main: #711511; 
    --color-text-head-foot: #EC3C52; 
    --color-background-head-foot: #fbd07e; 
    --color-back-card: #fdd8c3; 
    --main-font: "Merriweather", "sans-serif"; 
    --color-enter-form:#FDE3B2;
}
html{
    font-size: 20px;
}
/* header {
    display: flex;
    align-items: center; /* Выравнивание по вертикали 
    background:linear-gradient(180deg, #fbd07e 0%, #fffefd 100%);
    font-family: var(--main-font);
} 
header .slogan{    
    display:block;    
    margin-left: 0.5rem;
    text-align: center;
    max-width: 8rem;
}
header .text-slogan{
    display: block;
    text-decoration: none;
    color: var(--color-text-head-foot);
    font-weight: 700;

    font-size: 1.25rem;
    text-align: left;
    line-height: 1.15;
}
header  .bottom{
    font-size: 1.1rem;    
}
header img{
    display: block;
    margin: 0.6rem 0rem  0.6rem 0.9rem;
    width: 4.2rem;
}

header .login-signin{
    margin-left: auto;
    margin-right: 1.5rem;
    margin-bottom: 1.25rem;
    
}

header .text-login-sigin{
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-text-head-foot);
}*/
main {
    background-image: url('/HTML/assets/Images/BackPage.jpg');
    font-family: var(--main-font);
}
main .section-main {
    display: flex;
    justify-content: space-between;
    margin: 0rem 10rem;
    min-height: 40rem;
    padding-top: 5.6rem;
}

/* main .section-main .left-block{
    width: 34.25rem;
}
main .section-main .left-block .favorites-block{
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5), 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
    background-color: #FDD8C3;
    height: 23.35rem;
    border-radius: 1rem;
    padding-top: 2.4rem;

}
main .section-main .left-block .favorites-block h2{    
    text-align: center;
    color: var(--color-text-main); 
    font-weight: 700;
    margin-top: -0.6rem;
}
main .section-main .left-block .favorites-block .orange-line{
    height: 0.15rem;
    background-color: var(--color-background-head-foot);
    margin: 1.5rem auto 2.5rem;
    width: 6.6rem;    
}
main .section-main .left-block .favorites-block .dishes{  
    justify-content: space-between;
    height: 17.5rem;
}
main .section-main .left-block .favorites-block .dish {
    margin: 1.5rem 3.85rem;  
}
main .section-main .left-block .favorites-block .dish p{  
    display: inline-block;
    color: var(--color-text-main);
    font-weight: 700;
    font-size: 1rem;
    
}
main .section-main .left-block .favorites-block .dish a{   
    display: block;
    text-decoration: none;
    margin-top: 0.25rem;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--color-text-main);
}
main .section-main .left-block .favorites-block .dish .orange-line-dish{
    height: 0.1rem;
    margin-top: 0.25rem;
    background-color: var(--color-background-head-foot);
}

main .section-main .left-block .add-recept-block
{
    display: flex;    
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5), 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
    background-color: #FDD8C3;
    border-radius: 1rem;
    height: 5.8rem;
    margin-top: 3.5rem;
    justify-content: center;
}

main .section-main .left-block .add-recept-block a{
    margin: auto;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    color: var(--color-text-main);
    font-weight: 700;
       
} */

main .section-main .right-block{
    height: 32.8rem;
    background-color:    #FDD8C3;
    border-radius: 1rem;
    width: 22rem;
    margin: 0 0 0 9rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5), 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
}

main .section-main .right-block .image-profile{
    display: block;
    height: 45%; 
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
main .section-main .right-block p{    
    text-align: center;
    color: var(--color-text-main);
    font-weight: 700;
    margin: 1rem 0;
}
main .section-main .right-block .image-favotites{
    display: block;
    height: 15%;
    width: 15%;
    margin: 0rem auto;
    
}

main .section-main .right-block a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-text-main);
    font-weight: 700;
    
    visibility: collapse;
}


footer { 
    width: calc(100%-1.5rem); 
    height: calc(108px - 0.75rem); 
    padding: 0.75rem; 
    background: linear-gradient(360deg, var(--color-background-head-foot) 0%, #fffefd 100%); 
    align-items: flex-end; 
    display: flex; 
    justify-content: space-between; 
    font-family: var(--main-font);
}

.all-links-tg { 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
 
} 
 
.link-tg { 
    text-decoration: none; 
    display: flex; 
    margin-right: 1.15rem; 
} 
 
.logo-tg { 
    width: 1.35rem; 
    margin-right: 0.15rem; 
} 
 
.link-tg-text { 
    
    font-weight: bold; 
    font-size: 0.6rem; 
    color: var(--color-text-head-foot); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.logo-footer { 
    width: 3rem; 
    border-radius: 2rem; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(8px);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--color-background-head-foot);
  border-radius: 1rem;
  margin: 5% auto;
  padding: 3rem;
  border: 0.05rem solid #888;
  width: 36rem;
  height: 26rem;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);  
  transition: transform 0.5s ease;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin:-1.5rem -1.5rem 0 0;
}
.header-modal{
    text-align: center;
    margin: 0rem 5rem 2rem 5rem;
    padding:0.4rem 0rem;
    background-color: var(--color-enter-form);
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--main-font);
    color:var(--color-text-main);
    font-weight: 500;
}
.login-form {
    display: block;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin:0rem 1rem
}
.input-block{
    margin:0rem 3rem 3rem 3rem;
    min-height: 2rem;
    border-radius: 0.6rem;
    border:none;
    padding: 0.5rem;
    background-color: var(--color-enter-form);
}

.submit-button{
    min-height: 2rem;
    margin:0rem 7rem 3rem 7rem;
    border-radius: 0.6rem;
    border:none;
    padding: 0.5rem;
    background-color: var(--color-enter-form);
    font-size: 1.1rem;
    font-family: var(--main-font);
    color:var(--color-text-main);
    font-weight: 500;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signin-link{
    margin: -1.5rem auto 0rem;
    color:var(--color-text-head-foot);
    font-size: 0.75rem;
}
main .section-main .signin-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.4);
}

main .section-main .signin-modal .signin-modal-content{
    background-color: var(--color-background-head-foot);
    border-radius: 1rem;
    margin: 5% auto;
    padding: 3rem;
    border: 0.05rem solid #888;
    width: 36rem;
    height: 28rem;
    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);  
    transition: transform 0.5s ease;
}

main .section-main .signin-modal .signin-modal-content .close-signin {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin:-1.5rem -1.5rem 0 0;
}

main .section-main .signin-modal .signin-modal-content .signin-header-modal{
    text-align: center;
    margin: 0rem 5rem 2rem 5rem;
    padding:0.4rem 0rem;
    background-color: var(--color-enter-form);
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--main-font);
    color:var(--color-text-main);
    font-weight: 500;
}

main .section-main .signin-modal .signin-modal-content .signin-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin:0rem 1rem
}

main .section-main .signin-modal .signin-modal-content .signin-form .signin-input-block{
    margin:0rem 3rem 3rem 3rem;
    min-height: 2rem;
    border-radius: 0.6rem;
    border:none;
    padding: 0.5rem;
    background-color: var(--color-enter-form);
}

main .section-main .signin-modal .signin-modal-content .signin-form .signin-button{
    min-height: 2rem;
    margin:0rem 7rem 3rem 7rem;
    border-radius: 0.6rem;
    border:none;
    padding: 0.5rem;
    background-color: var(--color-enter-form);
    font-size: 1.1rem;
    font-family: var(--main-font);
    color:var(--color-text-main);
    font-weight: 500;
}
.close-signin:hover,
.close-signin:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}