h2{    
    text-align: center;
    color: var(--color-text-main); 
    font-weight: 700;
    margin-top: -0.6rem;
}   
.orange-line{
    height: 0.15rem;
    background-color: var(--color-background-head-foot);
    margin: 1.5rem auto;
    width: 6.6rem;    
}
 .dishes{  
    justify-content: space-between;
    height: 17.5rem;
}