.dish {
    margin: 0rem 3.85rem;  
}
 .dish p{  
    display: inline-block;
    color: var(--color-text-main);
    font-weight: 700;
    font-size: 1rem;
    
}
 .disha{   
    display: block;
    text-decoration: none;
    margin-top: -0.4rem;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--color-text-main);
}
.dish .orange-line-dish{
    height: 0.1rem;
    margin-top: 0.25rem;
    background-color: var(--color-background-head-foot);
}