/* обычное */

@media screen and (max-width: 960px) {

    header {
        height: 115px;
    }

    .link-logo {
        left: 10px;
        top: 15px;
    }

    .img-logo {
        height: 69px;
        width: auto;
    }

    .link-filters {
        display: block;
        position: absolute;
        top: 35px;
        right: 188px;
        width: 30px;
        height: auto;
        text-align: center;
    }

    .img-filters {
        width: 30px;
    }

    .filters {
        display: none;
    }

    .main-part {
        padding: 0px 18px 0px 18px;
    }

    .recipes {
        width: 100%;
        margin-left: 0px;
    }




    .one-recipe {
        width: 240px;
        height: 210px;
        margin-bottom: 25px;
    }

    .name-recipe {
        font-size: 16px;
    }

    .nav-pages ul {
        margin-bottom: 0px;
    }

    .page-link,
    .page-link-arrow,
    .current-page {
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    header {
        height: 58px;
    }

    .link-logo {
        height: 34.58px;
        width: auto;
        left: 5px;
        top: 6px;
    }

    .img-logo {
        height: 34.58px;
        width: auto;
    }

    .link-filters {
        display: block;
        position: absolute;
        top: 11px;
        right: 64px;
        width: 50px;
        height: auto;
        text-align: center;
    }

    .img-filters {
        width: 20px;
    }

    .link-person {
        right: 14px;
        top: 10px;
        width: 48px;
        height: auto;
        text-align: center;
    }

    .img-person {
        width: 20px;
    }

    .login-registration {
        display: none;
    }

    .main-part {
        padding: 0px 10px 0px 10px;
    }

    .filters {
        display: none;
    }

    .recipes {
        width: 100%;
        margin-left: 0px;
    }

    .one-recipe {
        width: 42vw;
        height: 42vw;
        margin-bottom: 15px;
    }

    .img-recipe {
        width: 100%;
        height: auto;
    }

    .name-recipe {
        font-size: 3.2vw;
        text-align: center;
    }


    .nav-pages ul {
        margin-bottom: 0px;
    }

    .page-link,
    .page-link-arrow,
    .current-page {
        font-size: 16px;
    }

    footer {
        padding: 11px;
    }

    .all-links-tg {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    }

    .link-tg {
        margin-right: 0px;
    }

    .link-tg-text {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .logo-footer {
        border-radius: 39px;
        width: 45px;
    }
}